.about {
  
  &__container {
    height: 100vh;
    display: flex;
    margin-bottom: 20rem;
  }

  &__story {
    width: 50%;
    background-color: var(--color-green);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 82vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 82vh, 0 100%);
    height: 99vh;

    margin-right: 4rem;
  }

  &__skills {
    width: 45%;
  }
  &__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__links {
    text-align: start;
    margin-left: 4rem;

    a {
      &,
      &:link,
      &:visited {
        display: block;
        text-decoration: none;
        color: inherit;
        font-size: $text-small;
        margin-bottom: 1rem;
        transition: all 0.2s;
      }

      &:hover {
        transform: translateY(-1px) scale(1.01);
      }
    }
  }
}
