:root {
  // COLOR VARIABLES
  --color-yellow: #f0cf61;
  --color-green: #c6d7c7;
  --color-grey: #474747;

  // FONT VARIABLES
  --font-primary: "Poppins", sans-serif;

  --shadow-dark: 0 .2rem 1rem rgba(71, 71, 71, 0.2);
  --shadow-dark2: 0 .5rem 2rem rgba(65, 65, 65, 0.2);
  --shadow-light: 0 .1rem 1rem rgba(71, 71, 71, 0.15);
  --shadow-large: 0 1.5rem 3rem rgba(48, 44, 44, 0.2);
}

$text-title:  7.2rem;
$text-extra-large: 5.5rem;
$text-large: 3.2rem;
$text-medium: 2.1rem;
$text-small: 1.7rem;
$text-extra-small: 1.6rem;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: var(--font-primary);
  color: var(--color-grey);
  font-weight: 400;
  line-height: 1.6;
}
