.contact {
  box-shadow: var(--shadow-dark);
  padding: 1rem 0 20rem 0;
  margin: 1.5rem 1.5rem 4rem 1.5rem;

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media only screen and (max-width: 62.6em) {
      //1000px
      flex-direction: column-reverse;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;

    @media only screen and (max-width: 62.6em) {
      //1000px
      width: 65%;
    }

    @media only screen and (max-width: 37.5em) {
      //600px
      width: 95%;
    }

    button {
      align-self: center;
      margin-top: -1rem;
    }
  }

  &__name,
  &__email,
  &__subject {
    height: 4.5rem;
    margin-bottom: 3.5rem;
    border: 2px solid var(--color-grey);
    font-size: $text-small;
    padding-left: 3rem;
    transition: all 0.3s;

    &:focus {
      outline: none;
      transform: scale(1.02);
    }
  }

  &__message {
    margin-bottom: 3.5rem;
    border: 2px solid var(--color-grey);
    transition: all 0.3s;

    text-align: start;
    padding-left: 3rem;
    padding-top: 3rem;
    font-family: var(--font-primary);
    font-size: $text-small;
    font-weight: 300;

    &:focus {
      outline: none;
      transform: scale(1.02);
    }
  }
}

.social {
  display: flex;
  flex-direction: column;
  height: 30rem;
  width: 45rem;

  @media only screen and (max-width: 62.6em) {
    //1000px
    height: 40rem;
    width: 70%;
  }

  @media only screen and (max-width: 37.5em) {
    //600px
    height: 45rem;
    width: 100%;
  }

  background-color: var(--color-green);

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
  clip-path: polygon(0 0, 100% 0, 100% 100% 0 70%);

  &__icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 4rem;
  }
  a {
    img {
      width: 3.8rem;
      height: 3.8rem;
      transition: all 0.2s;

      @media only screen and (max-width: 62.6em) {
        //1000px
        width: 5rem;
        height: 5rem;
      }

      &:hover {
        transform: translateY(-0.2rem) scale(1.05);
      }
    }
  }
}
