.footer {
  display: flex;
  margin: 4rem 4rem;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;

  &__icon {
    height: 3rem;
    width: 3rem;
  }

  &__text {
    font-size: $text-small;
    font-weight: 400;
  }
}
