.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  box-shadow: var(--shadow-dark);
  padding: 3rem 0 20rem 0;
  margin: 1.5rem;

  &__logo {
    margin: 4rem;
    height: 8rem;
    width: 8rem;

    @media only screen and (max-width: 23.75em) {
      //380px
      margin-top: 4rem;
      height: 7rem;
      width: 7rem;
      padding-top: 6rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 7.5rem;
  }
}
