.header {
  &__title {
    font-size: $text-title;
    font-weight: 400;
    margin-top: 8rem;

    animation: moveInLeft 1s ease-in-out;

    @media only screen and (max-width: 37.5em) {
      //600px
      font-size: $text-extra-large;
      text-align: center;
      
    }
  }

  &__subtitle {
    font-size: $text-large;
    font-weight: 200;
    margin-top: -2rem;

    animation: appear 2.5s ease;
  }

  @media only screen and (max-width: 37.5em) {
    //600px
    font-size: $text-medium;
    text-align: center;
    
  }
}

.about {
  &__header {
    &--primary {
      text-align: center;
      font-size: $text-extra-large;
      font-weight: 200;
      margin: 4.5rem;
    }

    &--second {
      background-color: var(--color-yellow);
      text-align: center;
      margin-bottom: 3rem;
      margin-top: 2rem;

      width: 14rem;

      transform: skewX(-37deg);

      h2 {
        display: inline-block;
        transform: skewX(37deg);
        font-size: $text-medium;
      }
    }
  }

  &__text {
    padding: 6rem;
    font-size: $text-small;
    @media only screen and (max-width: 62.6em) {
      //1000px
      font-size: $text-medium;
    }

    @media only screen and (max-width: 56.25em) {
      //1000px
      font-size: $text-small;
      
    }
  }
}

.social {
  &__text {
    text-align: center;
    font-size: $text-small;
    margin-top: 6rem;
    margin-bottom: 2rem;
    
    @media only screen and (max-width: 62.6em) {
      //1000px
      font-size: $text-medium;
      margin-bottom: 4rem;
    }

    

   
  }
}

.contact {
  &__text {
    font-size: $text-medium;
    line-height: 1.2;
    margin-bottom: 3.5rem;
    margin-top: 4rem;
  }
}

::placeholder {
  color: var(--color-grey-light);
  font-size: $text-small;
  font-weight: 200;
}

textarea::placeholder {
  color: var(--color-grey-light);
  font-family: var(--font-primary);
  font-size: $text-small;
  font-weight: 300;
}
